/*basics*/

div.relative {
	position: relative;
}

div.fixed {
	position: fixed;
}

/*global*/

body {
	padding-top: 56px;
	font-family: 'Roboto', sans-serif;
}

.label {
	font-size: 80%;
}

.float-left {
	float: left;
	width: 130px;
}

/*images*/

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-size: 55px;   
    background-repeat: no-repeat;
    background-position: 50%;
}

/*common elements*/

.task-profile {
    width: 58px;
    float: left;
}
.task-title {
	height: 30px;
    float: left;
    font-size: 16pt;
}
.task-due {
	height: 30px;
    text-align: right;
    padding-top: 4px;
}

.task-attach {
	padding-left: 0px;
	float: left;
}

.pad-detail {
	padding-left: 10px;
	float: left;
}

.taskrow {
	padding-top: 5px;
	padding-bottom: 5px;
	height: 72px;
	position: relative;
}

.task-hover {
	background-color: rgba(0, 0, 0, 0.12);
}

.complete {
	background-color: #C1EA9F;
}

.new {
	background-color: #F6F1F8;
}

.pad {
	margin-left: 130px;
}

.done {
	padding-top: 5px;
	text-align: center;
	font-style: italic;
	color: rgba(0, 0, 0, 0.54);
}

.error {
	padding-top: 5px;
	text-align: center;
	color: rgba(255, 0, 0, 0.54);
}

/*specific elements*/

.my-nav {
	background: #70198A;
	display: table;
	height: 56px;
	width: 100%;
	z-index: 1;
	top: 0;
	position: fixed;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.24);
}

.title {
	color: #FFF;
	font-size: 20pt;
	font-weight: bold;
	display: table-cell;
	vertical-align: middle;
}

.plus {
	display: table-cell;
	vertical-align: middle;
	right: 0px;
	width: 40px;
}

.addTask {
	background-color: #F6F1F8;
}

.addTask-pad {
	padding: 15px 0 15px 0;
}

div#taskList {
	padding-top: 10px;
}

/*other*/

.optional {
	color: gray;
	font-size: 12px;
	font-weight: 400;
	font-style: italic;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

img {
	vertical-align: middle;
}