/*basics*/

div.relative {
	position: relative;
}

div.fixed {
	position: fixed;
}

/*global*/

body {
	/*padding-top: 65px;*/
	font-family: 'Roboto', sans-serif;
}

.my-nav {
	background-color: #000000;
	opacity: 0.12;
	/*width: screen.width + "px";*/
	height: 50px;
}

.title {
	color: #000000;
	opacity: 0.87;
	size: 20pt;
	font-weight: normal;
}

.label {
	font-size: 80%;
}

/*images*/

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-size: 60px;   
    background-repeat: no-repeat;
    background-position: 50%;
}

div#profile {
    width: 58px;
    float: left;
}
div#task {
	height: 30px;
    float: left;
    font-size: 16pt;
}
div#due {
	height: 30px;
    text-align: right;
}

div#attach {
	padding-left: 0px;
	float: left;
}

.pad-detail {
	padding-left: 10px;
	float: left;
}

.float-left {
	float: left;
}

.taskrow {
	padding-top: 5px;
	height: 72px;
}

/*other*/

.optional {
	color: gray;
	font-size: 12px;
	font-weight: 400;
	font-style: italic;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

img {
	vertical-align: middle;
}