body {
	/*padding-top: 65px;*/
}

.label {
	font-size: 80%;
	/*position: absolute;
	top: 50%;
	right: 35px;
	transform: translateY(-50%);*/
}

.optional {
	color: gray;
	font-size: 12px;
	font-weight: 400;
	font-style: italic;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

img {
	vertical-align: middle;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-size: 150px;   
    background-repeat: no-repeat;
    background-position: 50%;
}

div.relative {
	position: relative;
}

div.fixed {
	position: fixed;
}